<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="Keywords" content="" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1439379_njlj9lkxbu.css">
		<title>图书</title>
	</head>

	<body>
		<div class="box" id="app">
			<div class="box_l">
				<div class="out_read">
					<strong>&lt;</strong>
					<span>退出阅读</span>
				</div>
				<div class="this_bok">
					<div class="tit">{{baseinfo.title}}</div>
					<div class="money" :style="{backgroundImage: 'url(' + baseinfo.cover_src + ')' }">
						<span>￥{{baseinfo.price}}</span>
					</div>
					<div class="buy_but">购买</div>
					<div class="colect_but" @click='collection'>收藏</div>
				</div>
				<div class="about_bok">
					<div class="txt"><span>分享（100）</span></div>
					<div class="txt"><span>收藏（100）</span></div>
				</div>
				<div class="erm_box">
					<span>扫一扫手机阅读</span>
					<img src="img/ewm.png" />
				</div>
				<div class="erm_box">
					<span>手机APP下载</span>
					<img src="img/ewm.png" />
				</div>
				<div class="close_but">
					<span>&nbsp;</span>
				</div>
			</div>
			<div class="box_r">
				<h3>大家都在看</h3>
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">这里时第一本推荐</div>
								</a>
							</div>
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">这里时第一本推荐</div>
								</a>
							</div>
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">世界十大古奇迹之谜推荐</div>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">这里时第一本推荐</div>
								</a>
							</div>
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">这里时第一本推荐</div>
								</a>
							</div>
							<div class="ment_list">
								<a href="">
									<div class="pic" style="background-image: url(img/bok.jpg);"><span>免费</span></div>
									<div class="txt">世界十大古奇迹之谜推荐</div>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="close_but">
					<span>&nbsp;</span>
				</div>
			</div>
			<div class="book">
				<div class="bok_page_num">{{progress | percent}}</div>
				<reader
					ref="reader"
					class="bok_item scrol_none"
					:sections="content_list"
					:info="baseinfo"
					:bookmarks="lmarkList"
					:resource-id="resource_id"
					:progress="progress"
					:settings="settings"
					@read="handleRead"
					@add-bookmark="amark"
					@settings-change="changeSettings"
				></reader>
				<!-- <div class="bok_item scrol_none" id="content">
					<div class="scrollview">
						<div class="bok_item_list act">
							<p><img :style="{backgroundImage: 'url(' + baseinfo.cover_src + ')' }" :src="baseinfo.cover_src" /></p>
						</div>
						<div :id="getArticleId(item)" class="bok_item_list" v-for="(item,index) in content_list" :key="item.id">
							<h4 align="center">{{item.title}}</h4>
							<p v-html="item.content"></p>
						</div>
						
					</div>
				</div> -->
				<div class="bok_mark" @click="amark">&#xe62e;</div>
				<thr ref='thr' :progress="progress"></thr>
				<div class="book_topl">
					<div class="book_topl_but">
						<span class="bt_1" title="显示设置" @click="handleControlShow('isSettingsShow')">&#xe635;</span>
						<span class="bt_2" title="目录" @click="handleControlShow('isCatalogShow')">&#xe64e;</span>
						<span class="bt_3" title="内容检索" @click="toggleSearchBar(!isSearchBoxShow)">&#xe62e;</span>
						<span class="bt_4" title="整页复制" @click="handleWholePageCopy">&#xe64e;</span>
						<span class="bt_5" title="其他格式">&#xe635;</span>
					</div>
				</div>
				<div class="book_topr">
					<div class="book_topr_but">
						<span class="bt_6" title="书签" @click='lmark'>&#xe696;</span>
						<span class="bt_7" title="我的划线/批注" @click='lscribling(0)'>&#xe633;</span>
						<span class="bt_8" title="全部批注">&#xe633;</span>
					</div>
				</div>
				<div class="book_botomr">
					<div class="page-control">
						<span class="prve" @click="prev()" v-if="settings.mode === 'horizantol'">上一页</span>
						<span class="next" @click="next()" v-if="settings.mode === 'horizantol'">下一页</span>
					</div>
					<input class="num" type="number" min="1" max="100" placeholder="%" v-model="jump" />
					<input class="but" type="button" id="" value="跳转" @click="jumpTo" />
				</div>
			
				<search-box :sections="content_list" :active="isSearchBoxShow" @close="toggleSearchBar(false)"></search-box>
				<div class="change_form scroll_book">
					<h3>其他格式阅读</h3>
					<div class="PDF_read" v-show="baseinfo.read_pdf == '0' ? false:true">PDF格式</div>
					<div class="EPUB_read" v-show="baseinfo.read_epub == '0'?false:true">EPUB格式</div>
				</div>
				<div class="mypsg mypsg_2 scroll_book">
					<div class="scrollview">
						<h3>我的划线/批注</h3>
						<div class="mypsg_rice mypsg_2_spet">
							<span class="bg_gary" @click='lscribling(0)'>按批注时间</span>
							<span @click='lscribling(1)'>按内容顺序</span>
						</div>
						<div class="mypsg_2_list" v-for="(item,index) in lscribingList" :key="item.id">
							<div class="t">{{item.excerpt}}</div>
							<div class="c"><span>{{item.note}}</span><i></i></div>
							<div class="b">
								<span>赞 10</span>
								<span>转发 10</span>
								<span>进度：{{item.percent}}%</span>
								<span class="open">打开此页</span>
								<span class="set">修改</span>
								<span class="del" @click='delete_scribing(item)'>删除</span>
								<span class="tmr">{{item.create_time}}</span>
							</div>
						</div>
						
					</div>
				</div>
				<div class="mypsg mypsg_3 scroll_book">
					<div class="scrollview">
						<h3>全部批注</h3>
						<div class="mypsg_rice mypsg_3_spet">
							<span class="bg_gary">按批注时间</span>
							<span>按内容顺序</span>
						</div>
						<div class="mypsg_3_list">
							<div class="t">
								<span>明哥的批注</span>
								<span>2019-09-03 14：40：50</span>
							</div>
							<div class="c">
								<p>这里是划线的内容这里是划线的内容这里是划线的内容这里是划线的内容，这里是划线的内容这里是划线的内容这里是划线的内容</p>
								<p><span>这里是我之前批注的内容这里是我之前批注的内容....这里是我之前批注的内容....这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容</span><i></i></p>
							</div>
							<div class="b">
								<span>赞10</span>
								<span>转发10</span>
								<span>进度：13%</span>
								<span class="open">打开此页</span>
							</div>
						</div>
						<div class="mypsg_3_list">
							<div class="t">
								<span>明哥的批注</span>
								<span>2019-09-03 14：40：50</span>
							</div>
							<div class="c">
								<p>这里是划线的内容这里是划线的内容这里是划线的内容这里是划线的内容，这里是划线的内容这里是划线的内容这里是划线的内容</p>
								<p><span>这里是我之前批注的内容这里是我之前批注的内容....这里是我之前批注的内容....这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容</span><i></i></p>
							</div>
							<div class="b">
								<span>赞10</span>
								<span>转发10</span>
								<span>进度：13%</span>
								<span class="open">打开此页</span>
							</div>
						</div>
						<div class="mypsg_3_list">
							<div class="t">
								<span>明哥的批注</span>
								<span>2019-09-03 14：40：50</span>
							</div>
							<div class="c">
								<p>这里是划线的内容这里是划线的内容这里是划线的内容这里是划线的内容，这里是划线的内容这里是划线的内容这里是划线的内容</p>
								<p><span>这里是我之前批注的内容这里是我之前批注的内容....这里是我之前批注的内容....这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容...这里是我之前批注的内容</span><i></i></p>
							</div>
							<div class="b">
								<span>赞10</span>
								<span>转发10</span>
								<span>进度：13%</span>
								<span class="open">打开此页</span>
							</div>
						</div>
					</div>
				</div>
				<div class="phone_list phone phone_list_1">
					<div class="phone_list_box">
						<div class="tit">
							<h3>目录</h3>
							<div class="close">X</div>
						</div>
						<div class="phone_list_scroll">
							<div class="scrollview">
								<div class="text_ind_0">
									<div class="ready_buy item">
										<a href="">这是第一章节</a><i></i>
										<a href="">1%</a>
									</div>
									<div class="text_ind_1">
										<div class="neet_buy item">
											<a href="">这是第一章节</a><i></i>
											<a href="">未购买</a>
										</div>
										<div class="text_ind_2">
											<div class="neet_buy item">
												<a href="">这是第一章节</a><i></i>
												<a href="">未购买</a>
											</div>
											<div class="text_ind_3">
												<div class="neet_buy item">
													<a href="">这是第一章节</a><i></i>
													<a href="">未购买</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text_ind_0">
									<div class="ready_buy item">
										<a href="">这是第一章节</a><i></i>
										<a href="">1%</a>
									</div>
									<div class="text_ind_1">
										<div class="neet_buy item">
											<a href="">这是第一章节</a><i></i>
											<a href="">未购买</a>
										</div>
										<div class="text_ind_2">
											<div class="neet_buy item">
												<a href="">这是第一章节</a><i></i>
												<a href="">未购买</a>
											</div>
											<div class="text_ind_3">
												<div class="neet_buy item">
													<a href="">这是第一章节</a><i></i>
													<a href="">未购买</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text_ind_0">
									<div class="ready_buy item">
										<a href="">这是第一章节</a><i></i>
										<a href="">1%</a>
									</div>
									<div class="text_ind_1">
										<div class="neet_buy item">
											<a href="">这是第一章节</a><i></i>
											<a href="">未购买</a>
										</div>
										<div class="text_ind_2">
											<div class="neet_buy item">
												<a href="">这是第一章节</a><i></i>
												<a href="">未购买</a>
											</div>
											<div class="text_ind_3">
												<div class="neet_buy item">
													<a href="">这是第一章节</a><i></i>
													<a href="">未购买</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="phone_list phone phone_list_2">
					<div class="phone_list_box">
						<div class="tit">
							<h3>书签</h3>
							<div class="close">X</div>
						</div>
						<div class="phone_list_scroll">
							<div class="scrollview">
								<div class="phone_list_actibe">
									<h4>我是书签的章节名称</h4>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
								</div>
								<div class="phone_list_actibe">
									<h4>我是书签的章节名称</h4>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
								</div>
								<div class="phone_list_actibe">
									<h4>我是书签的章节名称</h4>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
									<div class="actibe">
										<p>...这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句这里是书签页面段落的一部分摘录语句</p>
										<p>
											<span>进度：13%</span>
											<span class="open">点击打开此页</span>
											<span class="del">删除</span>
											<span>2019-09-03 17:14:10</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="phone_set phone">
					<div class="phone_set_list">
						<input type="range" name="" id="" value="16" min="12" max="22" />
						<span class="les">A-</span>
						<span class="add">A+</span>
					</div>
					<div class="phone_set_list">
						<span class="color faf7ed"></span>
						<span class="color e6f2e6"></span>
						<span class="color e4f1f5"></span>
						<span class="color e0e0e0"></span>
						<span class="color f5e4e4"></span>
						<span class="color c_191b1c"></span>
						<span class="color c_52585c"></span>
					</div>
					<div class="phone_set_list">
						<p>
							<span class="read h selcte">&#xe661; 左右翻页</span>
							<span class="read s">&#xe662; 上下翻页</span>
						</p>
					</div>
				</div>
				<div class="phone_speet phone">
					<div class="phone_speet_list">
						<div class="tit">
							<span>这里是章节的标题</span>
							<span>1.27%</span>
						</div>
						<div class="prve">&lt;上一章</div>
						<div class="next">下一章&gt;</div>
					</div>
					<div class="phone_speet_list">
						<input type="range" value="10" />
					</div>
				</div>
			</div>
			<div class="alt_page">
				<span>第一页</span>
			</div>
			<copier ref="copier"></copier>
		</div>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
		<script type="text/javascript" src="js/sweetalert2@8.js"></script>
		<script type="text/javascript" src="js/set.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<script type="text/javascript" src="js/iconfont.js"></script>
		<script>
			function test() {


			var mySwiper = new Swiper('.swiper-container', {
				loop: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			})

			// $(".search_into input").on("keypress", function(e) {
			// 	console.log(e)
			// 	if(event.keyCode == 13) {
			// 		var search_h = $(".search_list_item").length * 120 > 690 ? 690 : $(".search_list_item").length * 120;
			// 		if(search_h == 0) {
			// 			$(".search_list").show().text("没有搜索到内容");
			// 		}
			// 		$(".search_list").show().css({
			// 			"height": search_h + "px"
			// 		});
			// 	}
			// });
			}
		</script>
		<script type="text/javascript" src="/bundle.js"></script>
	</body>

</html>